AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__SQL_ALCHEMY_CONN=mysql://root:@mysql:3306/airflow
AIRFLOW__CORE__FERNET_KEY='ka81q71k6NFR9i7MdWDZ66vVzzTBIAybqE0jmknnH2Y='
AIRFLOW__CORE__DAGS_FOLDER=/usr/local/airflow/dags
AIRFLOW__CORE__BASE_LOG_FOLDER=/usr/local/airflow/logs
AIRFLOW__WEBSERVER__HIDE_PAUSED_DAGS_BY_DEFAULT=True
AWS_DEFAULT_REGION=us-east-1
twitter4j.debug=true
twitter4j.jsonStoreEnabled=true
twitter4j.oauth.consumerKey=MY_KEY
twitter4j.oauth.consumerSecret=MY_SECRET
twitter4j.oauth.accessToken=MY_TOKEN
twitter4j.oauth.accessTokenSecret=MY_TOKEN_SECRET
